---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro'
import HeroSection from '../components/HeroSection.astro'
import ChargeSection from '../components/ChargeSection.astro'
import Section from '../components/Section.astro';
import ModelY from '../components/ModelY.astro'
import Modelo3 from '../components/Modelo3.astro';
import ModelX from '../components/ModelX.astro';
import ModeloS from '../components/ModeloS.astro';
import CybertruckFoundation from '../components/CybertruckFoundation.astro'
import Powerwall from '../components/PowerWall.astro'
import Accesories from '../components/Accesories.astro'
import Footer from '../components/Footer.astro';
---

<Layout title="Tesla - El coche de tus sueños">    
    <LandingHeader />
     
    <main class="snap-y snap-mandatory relative w-full overflow-y-auto overflow-x-hidden scroll-smooth">
        
        <div class="snap-center">
            <HeroSection />
        </div>
        <div class="snap-center">
            <CybertruckFoundation />
        </div>
        <div class="snap-center">
            <ModelY />
        </div>
        <div class="snap-center">
            <Modelo3 />
        </div>
        <div class="snap-center">
            <ModelX />
        </div>
        <div class="snap-center">
            <ModeloS />
        </div>
        <div class="snap-center">
            <Powerwall />
        </div>
        <div class="snap-center">
            <Accesories />
        </div>
        <div class="snap-center">
            <ChargeSection />
        </div>

        <!-- El Footer está al final de todas las secciones, sin h-screen en el contenedor -->
    </main>

    <!-- El Footer está fuera de main para ser lo último al final de la página -->
    <Footer />
</Layout>



