---
import Section from "./Section.astro"
---

<Section
  title="Model S"
  color="white"
  id="model-s"
  subtitle="A partir de $1,736,4004"
  h3="Concertar una prueba de conducción"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
    class="border-[3px] border-blue-600 bg-blue-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
    href="#"
    >
      Explorar invefntario</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Pedido personalizado</a
    >
  </div>

  <img
    slot="background"
    alt="Model S"
    class="h-full w-full object-cover object-center bg-image"
    src="/public/Homepage-Model-S-Desktop-US.avif"
    class="h-full w-full object-cover object-center"
    id="bg-image-modely"
  />
</Section>